.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
.color{
    background-color: #F1F1F3;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bangla{
    font-weight: bold;
    font-size: 32px;
    margin-top: 45px;
    margin-left: 160px;
    margin-bottom: 31px;
}
.sign-in{
    color: #006A50;
    border-color: #006A50;
    margin-right: 160px;
    margin-top: 34px;
    width: 116px;
    height: 52px;
    border-radius: 8px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
}
.sign-in:hover{
    background-color: yellow;
}
.main1{
    margin-top: 25px;
    margin-left: 160px;
    margin-right: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 24px;
}
.title{
    padding-left: 60px;
    font-size: 18px;
    color: #0E0E0E;
    margin-bottom: 16px;
}
.title-text{
    padding-left: 60px;
    font-size: 46px;
    font-weight: bold;
}
.explore{
    margin-left: 60px;
    margin-top: 24px;
    width: 270px;
    height: 56px;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #006A50;
    font-size: 18px;
    border: none;
}
.explore:hover{
    background-color: yellow;
    cursor: pointer;
}
.sriti{
    width: 374px;
    height: 300px;
    margin-top: 80px;
    margin-right: 60px;
    margin-bottom: 80px;
}
.main2{
    margin-top: 80px;
    margin-left: 160px;
    margin-right: 160px;
}
.main2-header{
    font-weight: bold;
    font-size: 40px;
}
.main2-discription{
    margin-top: 24px;
    font-size: 16px;
}
.section-flex{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    
}
.card1{
    background-color: #C6E4D6;
    border-radius: 16px;
    padding-top: 32px;
    padding-left: 32px;
}
.card-img1{
    margin-bottom: 24px;
}
.card-img2{
    margin-bottom: 24px;
    padding-top: 32px;
}
.card-img3{
    margin-bottom: 24px;
    padding-top: 32px;
}
.card2{
    background-color: #C6E4D6;
    border-radius: 16px;
    padding-left: 32px;
}
.card3{
    background-color: #F7EBCF;
    border-radius: 16px;
    padding-left: 32px;
}
.main2-text{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
    
}
.learn-more1{
    margin-top: 24px;
    margin-bottom: 32px;
    height: 41px;
    width: 122px;
    border-radius: 8px;
    border: none;
    background-color: #5490F5;
}
.learn-more2{
    margin-top: 24px;
    margin-bottom: 32px;
    height: 41px;
    width: 122px;
    border-radius: 8px;
    border: none;
    background-color: #09A15C;
}
.learn-more3{
    margin-top: 24px;
    margin-bottom: 32px;
    height: 41px;
    width: 122px;
    border-radius: 8px;
    border: none;
    background-color:#FFC239 ;
}
.learn-more1:hover, .learn-more2:hover, .learn-more3:hover{
    background-color: rebeccapurple;
    cursor: pointer;
}
.pillar{
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 80px;
}
.optional{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 32px;
}

.innovation-img{
    margin-bottom: 24px;
    margin-top: 24px;
    margin-left: 24px;
}
.text-img-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.new-text-r{
    border-radius: 8px;
    background-color: #FFFFFF;
    border-radius: 24px;
}
.innovation-img{
    font-size: 20px;
    font-weight: bold; 
}
.innovation{
    padding-left: 24px;
}
.innovation-text{
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 24px;
    padding-right: 24px;
}
.yunus{
    margin-top: 32px;
    margin-left: 160px;
    margin-right: 160px;
    background-color: #FFFFFF;
    border-radius: 16px;
    background-image: url(./assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 24px;
}
.yunus-text{
    font-size: 16px;
    padding-left: 24px;
    padding-top: 48px;
    padding-right: 24px;
    margin-bottom: 12px;
    
}
.yunus-header{
    font-weight: 700;
    font-size: 20px;
    padding-left: 24px;
    margin-bottom: 4px;
}
.yunus-footer{
    padding-left: 24px;
    font-size: 16px;
    padding-bottom: 48px;
}
.container {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 80px;
    margin-left: 160px;
    margin-right: 160px;
}
.select{
    background-color: #C6E4D6;
}
.table-deg{
    background-color: #FFFFFF;
    border-radius: 15px;
}
.bg-color{
    background-color: #5490F5;
    
}

.header {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
    text-align: left;
}
td select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.main3{
    margin-top: 80px;
    margin-left: 160px;
    margin-right: 160px;
}
.main3-text{
    margin-top: 24px;
    font-size: 16px;
}
.main3-h1{
    font-weight: bold;
    font-size: 40px;
}
.main3-flex{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-color: #FFFFFF;
    border-radius: 24px;

}
.main3-satelite{
    margin-top: 48px;
    margin-left: 48px;
    border-radius: 24px;
    width: 350px;
    height: 300px;
    margin-bottom: 48px;
}

.main3-head{
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
    margin-bottom: 12px;
    padding-top: 48px;
}
.date{
    margin-bottom: 8px;
}
.date1{
    margin-bottom: 8px;
    padding-left: 48px;
}
.main3-text{
    font-size: 16px;
}
.main3-text1{
    font-size: 16px;
    padding-left: 48px;
    margin-top: 12px;
}
.read-more{
    margin-top: 32px;
    color: #FFFFFF;
    background-color: #006A50;
    width: 139px;
    height: 48px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 48px;
}
.read-more1{
    margin-top: 32px;
    color: #FFFFFF;
    background-color: #006A50;
    width: 139px;
    height: 48px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 48px;
    margin-left: 48px;
}
.read-more:hover{
    background-color: lightsalmon;
}
.read-more1:hover{
    background-color: lightsalmon;
}
.main3-flex1{
    
        margin-top: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        background-color: #FFFFFF;
        border-radius: 24px;
    
    
}
.main3-satelite1{
        margin-top: 48px;
        margin-right: 48px;
        border-radius: 24px;
        width: 350px;
        height: 300px;
        margin-bottom: 48px;
}
.main3-head1{
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
    margin-bottom: 12px;
    padding-top: 48px;
    padding-left: 48px;
}
.donate{
    text-align: center;
    margin-top: 80px;
    margin-left: 160px;
    margin-right: 160px;
}
.donate-text{
    margin-top: 24px;
}
.taka-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 32px;
    padding-left: 104px;
    padding-right: 104px;
    margin-bottom: 24px;
}
.taka1{
    width: 240px;
    height: 128px;
    font-weight: bold;
    font-size: 30px;
    color: #0E0E0E;
    border-radius: 16px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.taka2{
    width: 240px;
    height: 128px;
    font-weight: bold;
    font-size: 30px;
    color: #0E0E0E;
    background-color: #C6E4D6;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}
.taka3{
    width: 240px;
    height: 128px;
    font-weight: bold;
    font-size: 30px;
    color: #0E0E0E;
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}
.taka4 {
    width: 240px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;
    font-size: 30px;
    border-radius: 16px;
  }

.input {
    width: 80%;
    height: 64px;
    border: none;
    text-align: center;
    border-radius: 8px;
    font-size: 20px;
    margin-bottom: 32px;
  }
.donate-btn{
    width:151px;
    height: 56px;
    background-color: #006A50;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 80px;
}
.hover-all:hover{
    background-color: #5490F5;
    cursor: pointer;
}
.footer{
    background-color: #C6E4D6;
    margin-left: 160px;
    margin-right: 160px;
    border-radius: 24px;
}

.flex-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text-first{
    text-align: center;
    margin-left: 160px;
    margin-right: 160px;
}
.subs{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 16px;
    padding-top: 80px;
}
.subs-text{
    margin-bottom: 24px;
}
.email-input{
    width: 600px;
    height: 55px;
    padding-left: 40px;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.text-footer-last{
    text-align: center;
    margin-top: 24px;
}
.btn{
    height: 58px;
    border-radius: 8px;
    width: 150px;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #006A50;
    border: none;
}
.text-footer-last{
    padding-bottom: 80px;
}
.extra{
    background-color: #FFFFFF;
    margin-top: 80px;
}
.ban2{
    margin-left: 160px;
    margin-right: 160px;
    text-align: center;
}
.ban{
    padding-top: 50px;
    padding-bottom: 32px;
}
.ceter{
    margin-left: 160px;
    margin-right: 160px;
    color: #0E0E0E;
    margin-bottom: 32px;
    opacity: 0.2;
}
.img-three{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}